.Paragraph2{ /*CSS for small paragraph used in Signup page */
	border:1px solid white;
	border-width: 3px;
	margin-top: 20px;
	margin-left: 560px;
	margin-right: 555px;
	padding-left: 20px;

}